.picture_of_Gabriella {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 100%;
  display: block;
}

.linje {
  border: none;
  height: 2px;
  background-color: black;
  margin: 20px 0;
}

.ptext {
  padding-right: 110px; 
  padding-left: 110px;
  padding-bottom: 25px;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .ptext {
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 25px;
} }


.h1about {
  padding-right: 80px; 
  padding-left: 40px;
  padding-top: 10px;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .h1 {
    padding-right: 80px;
    padding-left: 40px;
    padding-top: 10px;
}
}

.h1experiences{
  padding-right: 80px; 
  padding-left: 40px;
  padding-top: 10px;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .h1experiences {
    padding-right: 80px;
    padding-left: 40px;
    padding-top: 10px;
}
}


.h1passion{
  padding-right: 80px; 
  padding-left: 40px;
  padding-top: 10px;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .h1passion {
    padding-right: 80px;
    padding-left: 40px;
    padding-top: 10px;
}
}

body {
  background-color: #F4F2EC;
}