.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10%;
  gap: 2em;
  text-align: center;
}
.gallery_text {
  margin: 10%;
  text-align: center;
  margin-top: 10em;
}

@media (width>1000px) {
}
