.collections {
  padding: 2rem 1rem;
  margin: 0 auto;
  background-color: var(--background-color);
}

.collections-intro {
  text-align: center;
  margin-bottom: 3rem;
}

.collections-intro h1 {
  font-family: var(--font-heading);
  font-size: 3rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.collections-intro p {
  font-size: 1rem;
  max-width: 50ch;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.artwork {
  text-align: center;
  margin-bottom: 8rem;
}

.artwork h2 {
  font-family: var(--font-heading);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.artwork p {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 45ch;
  margin: 0 auto;
  color: var(--text-color);
}
.image-wrapper {
  position: relative;
  width: 40%;
  margin: 0 auto 1rem;
}

.image-wrapper img {
  width: 100%;
  display: block;
  transition: filter 0.3s ease;
}

.image-wrapper:hover img {
  filter: blur(20px);
}

.image-hover-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-heading);
  font-size: 1.1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  text-align: center;
  white-space: nowrap;
}

.image-wrapper:hover .image-hover-text {
  opacity: 1;
}

/* === HEADER === */

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 1.5rem 2rem;
  border-bottom: 3px solid var(--accent-blue);
  position: relative;
}

.logo-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--accent-blue);
  object-fit: cover;
}

.title-image-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  margin-right: 50px;
}

.title-image-container img {
  height: 100px;
  max-width: 100%;
  object-fit: contain;
}

.ham-menu {
  height: 10px;
  width: 10px;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: var(--accent-blue);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translat;
}
