:root {
  background-color: #f4f2ec;
}

/* fonts */
h1 {
  font-family: "gothic-extrabold";
  font-size: 56px;
}
h2 {
  font-family: "gothic-regular";
  font-size: 34px;
}
p,
label,
button,
legend {
  font-family: "actor";
  font-size: 15px;
}
@font-face {
  font-family: "actor";
  src: url(../fonts/Actor-Regular.ttf);
}
@font-face {
  font-family: "gothic-regular";
  src: url(../fonts/GothicA1-Regular.ttf);
}
@font-face {
  font-family: "gothic-extrabold";
  src: url(../fonts/GothicA1-ExtraBold.ttf);
}
