body {
  background-color: rgba(244, 242, 236, 1);
}

img {
  width: 100%;
  height: auto;
}

.citat {
  text-align: center;
  margin: 1em;
  padding: 10em;
  font-size: 50%;
}

.SIN,
.ROML,
.EVIR,
.IBC {
  margin: 3em;
  padding: 3em;
  text-align: center;
}

@media (width >900px) {
  .billeder {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .SIN {
    grid-column: 1/2;
  }
  img {
    width: 100%;
    /*  margin: 2em; */
  }
}
