.ptext {
  padding-right: 110px; 
  padding-left: 110px;
  padding-bottom: 25px;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .ptext {
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 25px;
} }


.h1about {
  padding-right: 80px; 
  padding-left: 40px;
  padding-top: 10px;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .h1 {
    padding-right: 80px;
    padding-left: 40px;
    padding-top: 10px;
}
}

.h1experiences{
  padding-right: 80px; 
  padding-left: 40px;
  padding-top: 10px;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .h1experiences {
    padding-right: 80px;
    padding-left: 40px;
    padding-top: 10px;
}
}


.h1passion{
  padding-right: 80px; 
  padding-left: 40px;
  padding-top: 10px;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .h1passion {
    padding-right: 80px;
    padding-left: 40px;
    padding-top: 10px;
}
}

body {
  background-color: #F4F2EC;
}